    *{
    margin: 0, 0 , 0 ,0;
    margin-top: 0;
       padding: 0;
       overflow-x: hidden
        
    }
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    header {
        width: 100%;
        height: 548px;
        background: url("img/imagem.jpg") no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header h1 {
        color: white
    }
    
    article {
        margin-top: 5%;
        margin-bottom: 5% ;
        width: 90%;
    }

    
    
    article h2,
    p {
        
        text-align: left;
    }

    article p{
        color: black;
    }
    article section:first-of-type p{
        color:blue
    }
    article section:last-of-type p{
        color: red;
    }
    article img {
        margin-bottom: 3%;
        width: 100%;
        height: 500pxx;
    }
    
    footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f2f2;
    }
    
    footer section {
        padding: 20px;
        width: 20%;
        text-align: justify;
    }
    
    footer section img {
        
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    p {
        
        text-align: justify     ;
    }

    button{
        padding: 10px;
        color: white;
        border: none;
        border-radius:20%; 
        background-color: blue;
    }

    button:hover{
        background-image:linear-gradient(rgb(0, 162, 255), rgb(0, 234, 255));
    }

    h5{
        font-size: 110%;
    }

    footer section:first-child h5:first-of-type {
        color: red;
    }

    footer section h5{
        color: blue;
    }

    footer section:last-child h5:last-of-type{
        color: orange;
    }

    footer section:first-child button:first-of-type {
        background-color:red
    }

    footer section:last-child button:last-of-type{
        background-color: orange;
    }
